$color-background: #f6f6f6;
$color-component-background: #fff;
$color-checkbox-checked: #0375ff;
$color-checkbox-border: #bdbdbd;
$color-font: #333;
$color-font-light: #fff;
$color-input: #666;
$color-primary: #00a0e9;
$color-secondary: #f48d00;
$color-tertiary: #cfd8dc;
$color-warning: #dd2c00;
$color-success: #27ae60;
$color-count-button: #4d5269;
$color-loading-spot: #219653;
$color-delivery-spot: #ff3231;

$color-pink: #ff4081;
$color-white: #fff;
$color-black-5: rgba(0, 0, 0, 0.05);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-25: rgba(0, 0, 0, 0.26);
$color-black-50: rgba(0, 0, 0, 0.52);
$color-black-54: rgba(0, 0, 0, 0.54);
$color-ana-cargo: #1d2088;
