$white: white;
$black: black;
$grey-70: #333333;
$grey-50: #545454;
$grey-30: #808080;
$grey-20: #B4B4B4;
$grey-10: #E7E7E7;

$primary: #00a0e9;
$secondary: #f48d00;
$tertiary: #cfd8dc;
$success: #27ae60;
$alert: #dd2c00;
$warning: #FFC043;

$font: #333;
$background: #f6f6f6;
